body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.layoutTwo {
    background-color:darkslateblue;
    color:black;
}

#pane{
    height: 50px;
    width: 50px;
    background-color: red;
}

#paneContainer{
    height: 250px;
    width: 300px;
    background-color: white;
}

.pane{
    position: absolute;
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}
#validArea{
    height: 350px;
    width: 400px;
    background-color: white;
}