@{
    ViewBag.Title = "MVC Models";
}

<div class="jumbotron">
    <h1>@ViewBag.Title</h1>   
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            Models are used to pass information around the MVC Application.
        </p>  
    </div>    
</div>