@{
    ViewBag.Title = "JQuery Ajax";
}

<div>
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</div>

<div>
    <input type="button" value="Call Service with Ajax" id="btnRequest" />
</div>
<div id="resultContainer" />

<div>
    <input type="button" value="Retrieve Response" id="btn1" />
</div>
<div id="XHResponse">Placeholder</div>


@Ajax.ActionLink(
    "Click to Send Ajax Request",
    "AjaxHelper",
    new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "ajaxHelperResultContainer"
    })
<div id="ajaxHelperResultContainer">Ajax Helper Result Container</div>

@Scripts.Render("~/bundles/demoJQueryAjax")