@{ 
    ViewBag.Title = "JQuery UI";
}

<div>
    <h1>@ViewBag.Title</h1>
</div>

<p>Click to make the box disappear and reappear:</p>
<div id="paneContainer" onclick="togglePane()">
    <div id="pane"></div>
</div>

<h3>JQuery Widgets</h3>
<div>
    <input type="button" value="Initialize Picker" onclick="initPicker()" />
</div>
<div>
    Select a Date: <input type="text" id="dp" />
</div>